@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */

  html .project-card img {
    height: auto;
    width: auto;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  html .project-card:hover img {
    transform: translate(-50%, -50%) scale(1.05);
  }
}
