// Loader

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: $color--white;
  z-index: 10;
}

// Widths

.width--full {
  width: 100%;
}

.width--content {
  max-width: $width--content;
  padding: 0 $spacing--medium;
  margin-right: auto;
  margin-left: auto;
}

.width--inner {
  max-width: $width--inner;
  padding: 0 $spacing--medium;
  margin-right: auto;
  margin-left: auto;
}

.width--small {
  max-width: $width--small;
  padding: 0 $spacing--medium;
  margin-right: auto;
  margin-left: auto;
}

// Spacing

.spacing--largest {
  margin-top: $spacing--largest;

  @include breakpoint("tablet") {
    margin-top: $spacing--larger;
  }
}

.spacing--larger {
  margin-top: $spacing--larger;
}

.spacing--large {
  margin-top: $spacing--large;
}

.spacing--medium {
  margin-top: $spacing--medium;
}

.spacing--small {
  margin-top: $spacing--small;
}

.spacing--smaller {
  margin-top: $spacing--smaller;
}

// Mobile Spacing

@include breakpoint("tablet") {
  .spacing-mobile--none {
    margin-top: 0;
  }

  .spacing-mobile--largest {
    margin-top: $spacing--largest;
  }

  .spacing-mobile--larger {
    margin-top: $spacing--larger;
  }

  .spacing-mobile--large {
    margin-top: $spacing--large;
  }

  .spacing-mobile--medium {
    margin-top: $spacing--medium;
  }

  .spacing-mobile--small {
    margin-top: $spacing--small;
  }

  .spacing-mobile--smaller {
    margin-top: $spacing--smaller;
  }
}

// Alignment

.text-align--centre {
  text-align: center;
}

.text-align--right {
  text-align: right;
}

// Columns

.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column--half {
  width: calc(50% - #{$spacing--medium});

  @include breakpoint("tablet") {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: $spacing--large;
    }
  }
}

.column--third {
  position: relative;
  width: calc(math.percentage(math.div(1,3)) - #{$spacing--medium});

  @include breakpoint("tablet") {
    width: 100%;

    &:not(:first-of-type) {
      margin-top: $spacing--large;
    }
  }
}

.columns--center {
  align-items: center;
}

.columns--right {
  justify-content: flex-end;
}

.columns--left {
  justify-content: flex-start;
}

// Page Transitions

.transition-fade {
  transition: 0.4s opacity;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

// Scroll anchors

.scroll-anchor {
  position: absolute;
  top: -200px;
  left: 0;
}
