// Breakpoints
$width--content: 1300px;
$width--inner: 720px;
$width--small: 400px;

$width--tablet: 1024px;
$width--phone: 768px;

// Font Families
$font-family--primary: 'Montserrat', sans-serif;

// Font Sizes
$font-size--larger: 4.4rem;
$font-size--large: 4rem;
$font-size--medium: 3.2rem;
$font-size--small: 2.1rem;
$font-size--smaller: 1.6rem;
$font-size--smallest: 1.4rem;

// Spacing
$spacing--largest: 15rem;
$spacing--larger: 10rem;
$spacing--large: 5rem;
$spacing--medium: 2.5rem;
$spacing--small: 1.5rem;
$spacing--smaller: 1rem;
$spacing--smallest: 0.5rem;

// Colors
$color--primary: #333332;
$color--secondary: #20BF55;
$color--overlay: #20BF55;

$color--font: #231F20;

$color--light-grey: #F5F5F5;
$color--dark-grey: #ECECEC;

$color--black: black;
$color--white: white;

// Transitions
$transition-duration--short: 0.3s;
$transition-duration--long: 0.4s;

// Border radius
$border-radius: 0.6rem;